
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*======= start navbar css =======*/
/* header style */

header {
    width: 100%;
    height: 60px;
    /* border: 2px red solid; */
    background-color: brown;
    
    padding: 2rem;
}


/* nav style with space between*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* fix logo container width and height */
nav .logo {
    width: 3em;
    height: 3em;
    border-radius: 50%;

    /* border: 2px solid rgb(72, 54, 73); */
}


/* put image in logo container */
nav .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

nav .myLinks a{
    padding: 0 2rem;
    color: black;
    font-weight: 900;
    font-family: sans-serif;
    /* border: 2px red solid; */
}

nav .myLinks a:hover {
    /* background-color: rgba(255, 255, 187, 0.685); */
    color: rgba(255, 255, 187, 0.685);
    transition: 0.5s;
    padding: 0.5rem;
    box-shadow: 12px 2px 12px 5px rgba(255, 255, 187, 0.685);
    
}

/* remove underline with anchor tag and set left and right padding */
nav a {
    text-decoration: none;
    /* border: 2px red solid; */
}


/* hide sidebar in desktop view */
 nav .sidebar{
    display: none;
}


/* for collapsible navabr use media query */


@media (max-width: 750px) { 

    nav {
        position: relative;
    }
    
    #myLinks{
        position: absolute;
        display:none;
        background-color:rgba(255, 255, 187, 0.685);
        border: 2px red solid;    
        top: 3.6rem;
        left: -35px;
        min-width: 70%;
        text-align: center;

        /* transition: all 50ms ease; */
    
    }

    #myLinks a {
        display: block;
        z-index: 2;
        margin-top: 20px;
    }
    #myLinks a:hover {
        background-color: rgba(255, 255, 187, 0.685);
    }

    /* show sidebar in mobile view */
    nav .sidebar{
        display: block;
    }

    nav .sidebar a {
        font-size: 2rem;
        color: black;
    }

}

/*======= end navbar css =======*/


/*======= start landing page css =======*/

.landing-page {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    flex-direction: row-reverse;
    /* gap: 5rem;     */
    justify-content: space-around;
    text-align: center;
    background-color: brown;
    /* border: 2px black solid; */
}

.landing-page .lottie {
    width: 30%;
    margin-top: 7rem;
    box-shadow: 7px 2px 80px 20px  rgba(255, 255, 187, 0.685) ;

}

.landing-page .info {
    width: 40%;
}

.landing-page .info .heading {
    font-family: sans-serif;
    font-size: 4rem;
}

.landing-page .info .details {
    font-family:cursive;
    font-size: 2rem;
}

@media (max-width:1370px) {
    .landing-page { 
        flex-direction: column;
    }
    .landing-page .lottie {
        box-shadow: none;
    }

    .landing-page .lottie {
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 2px solid black; */
        margin-top: -50px;
        height: 25rem;
    }
    .landing-page lottie-player {
        /* max-width: 50%; */
        align-content: center;
        /* border: 2px black solid; */
    }

    .landing-page .info {
        width: 100%;
        /* border: 2px black solid; */
    }
}

@media (max-width:780px) {
    .landing-page .info .heading {
        font-size: 2rem;
    }
    .landing-page {
        padding: 0;
    }

    .landing-page .lottie {
        box-shadow: none;
        margin-top: 0px;
        height: 20rem;
    }
    .landing-page .info {
        padding: 2rem;
        /* border: 2px black solid; */
    }
}

@media (max-width:450px) {
    .landing-page .info .heading {
        font-size: 1rem;
    }

}

/*======= end landing page css =======*/



/*======= main content page css =======*/

.mainbody {
    background-color: rgb(196, 69, 69);
}
.main {
    width: 100%;
    /* height: 50vh; */
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px black solid; */
    justify-content: space-evenly;
    align-items: center;
    
}

.mheading {
    text-align: center;
    padding: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
    /* border: 2px black solid; */
    
}

.main .content-1 {
    width: 30%;
    padding: 1rem;
    /* border: 2px black dotted; */
}

.main .content-2 {
    width: 30%;
    padding: 1rem;
    /* border: 2px black dotted; */
}

.main .content-3 {
    width: 30%;
    padding: 1rem;
    /* border: 2px black dotted; */
}
.main .pic {
    width: 100%;
    /* border: blueviolet 2px solid; */
}
.main .pic img {
    width: 100%;
    height: 100%;
}
span {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

@media(max-width:900px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main .content-1 {
        width: 90%;
    }

    .main .content-2 {
        width: 90%;
    }

    .main .content-3 {
        width: 90%;
    }
}

.phead {
    min-width: 100;
    padding: 1rem;
    /* border: 2px rebeccapurple solid; */
}

.phead .p-1 {
    display: flex;
    padding: 1rem;
    /* width: 100%; */
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px black solid; */
}

.phead .p-2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    /* width: 100%; */
    flex-direction: row-reverse;
    /* border: 2px black solid; */
}

.phead .p-3 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    /* width: 100%; */
    /* border: 2px black solid; */
}
.phead .pic {
    /* border: 2px red solid; */
    width: 700px;
    /* height: 40%; */
}

.phead .pic img {
    width: 100%;
    height: 100%;
}
.phead .detail {
    padding: 2rem;
    font-size: 1.2rem;
    /* border: 2px rgb(63, 37, 37) solid; */
}
.product {
    background-color: rgb(185, 102, 99);
}
.product-head {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
}

@media (max-width:700px) {
 
    .phead .pic {
        width: 100%;
    }

    .phead .p-1 {
        flex-direction: column;
    }
    .phead .p-2 {
        flex-direction: column;
    }
    .phead .p-3 {
        flex-direction: column;
    }
}


/* gallery style */

.imageGallery {
    padding: 2rem;
    background-color: rgba(243, 64, 19, 0.329);
}

.imageGallery h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    line-height: 1.5;  
  }
  
  p {
    margin: .5rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  /* First the Grid */
  .gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  
  /* The Picture Frame */
  .gallery-frame {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    color: #d9d9d9;
  }
  
  /* The Images */
  .gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
  }
  
  .gallery-img:hover {
    opacity: .7;
  }



  .contactUs {
    font-family: sans-serif;
    padding: 2rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.801);
}

.contactUs .con-h1 h1 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact .c1 a {
    display: block;
    width: 40%;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin-top:2rem;
    color: black;
    background-color: antiquewhite;
}

.contact .c1 {
    padding: 2rem;
}

.contact .links {
    width: 100%;
    padding: 2rem;
}

.contact .links h1 {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.contact .links .link {    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact .links .link a {
    width: 100px;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin-top:2rem;
    color: #d9d9d9;
    font-size: 20px;
}

.contact .links .link a:hover {
    color: black;
    background-color: antiquewhite;
    transition: 0.5s;
}


.social {
    width: 100%;
    margin-bottom: 50px;   
}

.social h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.social .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social .link a {
    width: 100px;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin-top:2rem;
}

.social .link a i{
    color: white;
    font-size: 30px;
}

.social .link a i:hover {
    border-radius: 30px;
    color: blue; 
    padding: 1rem;
    transition: 0.5s;
    background-color: white;
}

.social .link a .fa-instagram:hover {
  color: red;
  background-color: white;
  padding: 1rem;
  transition: 0.5s;
}
